body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  height: 25px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1,
h2,
h3 {
  color: #007bff;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.education,
.experience {
  margin-bottom: 20px;
  
}
.about {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
}

ul li {
  list-style-type: none;
  padding: 0;
}

ul {
  margin-bottom: 5px;
}


.skills div {
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 5px;
  height: 15px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
}
footer {
  text-align: center;
  padding: 2px 0;
  background-color:#007bff;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 1px;
  font-size: 12px;
  height: 25px;
}
